<div class="container">
  <h3>Here is all the restaurant</h3>
  <% @restaurants.each do |restaurant| %>
    <ul>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    </ul>
  <% end %>

  <p><%= link_to 'Add a new restaurant', new_restaurant_path, class: 'btn btn-primary' %></p>
</div>
